In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('BAC.csv')

In [3]:
df.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2018-07-02  28.080000  28.280001  27.830000  28.280001  25.186296  52534300
1  2018-07-03  28.330000  28.430000  27.740000  27.780001  24.740997  40599000
2  2018-07-05  27.950001  28.080000  27.809999  27.920000  24.865677  44506800
3  2018-07-06  27.809999  28.150000  27.629999  28.030001  24.963646  39424900
4  2018-07-09  28.230000  29.090000  28.219999  29.049999  25.872059  61758900

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   object
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Adj Close  1258 non-null   float64
 6   Volume     1258 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB

In [5]:
df.fillna(method='ffill',inplace=True)

In [6]:
print(df.duplicated().sum())

0

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
#df['Date']=pd.to_datetime(df['Date'])

In [9]:
df=df[['Date','Close']]

In [10]:
df.sort_values('Date',inplace=True)

In [11]:
df

            Date      Close
0     2018-07-02  28.280001
1     2018-07-03  27.780001
2     2018-07-05  27.920000
3     2018-07-06  28.030001
4     2018-07-09  29.049999
...          ...        ...
1253  2023-06-26  28.090000
1254  2023-06-27  28.240000
1255  2023-06-28  28.070000
1256  2023-06-29  28.660000
1257  2023-06-30  28.690001

[1258 rows x 2 columns]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [13]:
import numpy as np

In [14]:
X=df[['Date']].index.values.reshape(-1, 1).astype(np.float64)

In [15]:
print(X)

[[0.000e+00]
 [1.000e+00]
 [2.000e+00]
 ...
 [1.255e+03]
 [1.256e+03]
 [1.257e+03]]

In [18]:
y=df[['Close']].values.reshape(-1, 1).astype(np.float64)

In [19]:
print(y)

[[28.280001]
 [27.780001]
 [27.92    ]
 ...
 [28.07    ]
 [28.66    ]
 [28.690001]]

In [20]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [21]:
model=LinearRegression()

In [22]:
model.fit(X_train,y_train)

LinearRegression()

In [23]:
y_pred=model.predict(X_test)

In [24]:
y_pred

array([[27.68277707],
       [31.59699185],
       [28.05898994],
       [35.52721569],
       [29.13159685],
       [27.78683595],
       [30.18019018],
       [31.73306884],
       [30.55640305],
       [32.2133406 ],
       [32.51751271],
       [33.67816944],
       [35.03093488],
       [31.33284238],
       [33.57411056],
       [36.51977731],
       [34.16644572],
       [36.92000377],
       [28.3231394 ],
       [36.87998112],
       [35.05494847],
       [28.63531604],
       [33.3099611 ],
       [31.58098279],
       [36.91199924],
       [29.33171008],
       [34.49463142],
       [34.790799  ],
       [31.26880615],
       [32.81368029],
       [28.93148362],
       [36.38370031],
       [36.7358996 ],
       [28.00295823],
       [34.41458613],
       [34.26250007],
       [34.18245478],
       [37.16814418],
       [31.49293297],
       [30.10814942],
       [29.79597278],
       [37.08009435],
       [35.78336062],
       [37.18415323],
       [36.82394942],
       [27.65075895],
       [37.48032081],
       [34.15043666],
       [28.77139304],
       [37.3122257 ],
       [35.6953108 ],
       [29.56384143],
       [34.83882618],
       [28.08300353],
       [32.77365764],
       [30.30826265],
       [33.43803357],
       [36.57580901],
       [27.95493106],
       [28.85944286],
       [30.06012224],
       [37.0640853 ],
       [35.91943762],
       [31.18876086],
       [30.86057516],
       [34.85483524],
       [35.3671251 ],
       [32.2693723 ],
       [36.64784978],
       [36.35968673],
       [28.89146098],
       [29.11558779],
       [35.76735156],
       [27.75481783],
       [28.77939757],
       [35.86340592],
       [37.51233893],
       [30.97263857],
       [30.98864763],
       [33.45404262],
       [29.67590484],
       [30.20420377],
       [30.03610865],
       [35.48719304],
       [33.14987051],
       [31.41288768],
       [31.00465669],
       [31.95719566],
       [35.59925645],
       [31.13272915],
       [37.38426646],
       [36.25562785],
       [35.34311152],
       [34.78279447],
       [36.0795282 ],
       [35.89542403],
       [29.17962403],
       [32.57354441],
       [30.43633511],
       [29.49180067],
       [31.54096014],
       [36.63184072],
       [37.48832534],
       [29.25966932],
       [31.92517755],
       [33.26993845],
       [32.54953082],
       [33.71018756],
       [30.89259328],
       [28.24309411],
       [32.23735418],
       [31.5009375 ],
       [35.24705717],
       [37.47231629],
       [31.50894203],
       [28.50724357],
       [32.78166217],
       [34.27850913],
       [30.06812677],
       [34.4626133 ],
       [28.37917111],
       [31.86914584],
       [35.39914322],
       [29.19563309],
       [36.09553726],
       [31.06068839],
       [30.38030341],
       [35.33510699],
       [27.70679065],
       [33.49406527],
       [36.78392677],
       [36.2716369 ],
       [30.26824   ],
       [33.38200186],
       [34.55866765],
       [31.8291232 ],
       [35.90342856],
       [30.69248005],
       [36.77592224],
       [33.82225097],
       [32.42145836],
       [36.5437909 ],
       [31.20476992],
       [29.2276512 ],
       [31.35685597],
       [37.29621664],
       [29.90803619],
       [32.96576634],
       [31.65302355],
       [31.7490779 ],
       [34.01435967],
       [35.85540139],
       [30.76452081],
       [33.54209245],
       [35.71932439],
       [33.66216038],
       [31.3088288 ],
       [35.11098017],
       [30.7885344 ],
       [37.19215776],
       [34.35855442],
       [34.60669483],
       [32.29338589],
       [36.03950556],
       [35.23104811],
       [32.18132248],
       [34.00635514],
       [34.29451819],
       [32.86170746],
       [36.51177278],
       [30.73250269],
       [32.28538136],
       [36.39170484],
       [33.06982522],
       [32.03724095],
       [31.37286503],
       [30.00409054],
       [27.91490841],
       [33.96633249],
       [34.84683071],
       [36.00748744],
       [32.16531342],
       [30.94062045],
       [29.61987313],
       [30.82055252],
       [33.14186598],
       [29.50780973],
       [35.83939233],
       [35.58324739],
       [32.79767123],
       [34.31853178],
       [36.43973202],
       [30.12415847],
       [37.15213512],
       [36.58381354],
       [28.03497635],
       [33.59011962],
       [33.51007433],
       [37.120117  ],
       [36.44773655],
       [32.34141306],
       [31.3648605 ],
       [30.51638041],
       [30.50837588],
       [29.43576896],
       [35.06295299],
       [35.87941497],
       [27.99495371],
       [34.94288506],
       [33.31796563],
       [36.83995848],
       [35.93544668],
       [29.78796825],
       [32.58955347],
       [31.1167201 ],
       [29.27567838],
       [33.34998374],
       [28.10701711],
       [37.24818947],
       [31.10071104],
       [27.85887671],
       [33.95832796],
       [34.38256801],
       [31.90916849],
       [33.44603809],
       [29.65189125],
       [34.66272653],
       [36.01549197],
       [32.61356706],
       [33.98234155],
       [30.53238946],
       [32.62157159],
       [37.65642046],
       [34.63871295],
       [31.09270651],
       [35.60726098],
       [37.63240687],
       [35.63127457],
       [28.20307146],
       [31.26080162],
       [31.8851549 ],
       [27.72279971],
       [36.08753273],
       [28.76338851],
       [31.46891938],
       [37.36025288],
       [33.91830532],
       [36.47175013],
       [27.89089483],
       [30.90860234],
       [28.15504429],
       [33.61413321]])

In [25]:
mse=metrics.mean_squared_error(y_test,y_pred)
print('MSE:',mse)

MSE: 35.87896224479698

In [26]:
r2=metrics.r2_score(y_test,y_pred)
print('R2 Score:',r2)

R2 Score: 0.16204392415211555

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [28]:
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [29]:
y_pred

array([[32.20637123],
       [28.59233956],
       [28.19951003],
       [28.29378912],
       [36.22894562],
       [31.13001832],
       [34.02910025],
       [36.00896108],
       [36.77890696],
       [35.94610836],
       [31.94710374],
       [36.04824403],
       [29.35442885],
       [32.1513751 ],
       [36.15037971],
       [30.58791357],
       [36.30751152],
       [33.8248289 ],
       [30.8943206 ],
       [35.48256951],
       [35.47471292],
       [31.05930901],
       [29.51156066],
       [33.76983276],
       [36.10324017],
       [33.53413504],
       [32.45778213],
       [29.83368087],
       [33.02345666],
       [28.13665731],
       [36.04038744],
       [30.36792904],
       [36.71605423],
       [34.87761204],
       [31.15358809],
       [31.54641762],
       [30.21865381],
       [30.12437473],
       [31.44428195],
       [29.33871567],
       [37.36815125],
       [32.74061939],
       [35.22330202],
       [28.76518455],
       [34.22551502],
       [34.99546089],
       [29.92010337],
       [27.97952549],
       [31.6485533 ],
       [34.42978637],
       [31.31071991],
       [29.79439792],
       [34.26479797],
       [34.70476704],
       [29.62940952],
       [29.71583202],
       [29.43299475],
       [29.16587067],
       [37.17173649],
       [30.75290197],
       [32.02566965],
       [30.20294063],
       [31.16144469],
       [28.43520775],
       [28.25450617],
       [36.93603877],
       [36.60606197],
       [28.41163798],
       [31.01216946],
       [28.18379685],
       [34.95617794],
       [28.3959248 ],
       [30.73718879],
       [36.4960697 ],
       [32.25351078],
       [36.54320924],
       [33.6519839 ],
       [31.42071217],
       [31.17715787],
       [37.5802792 ],
       [30.41506858],
       [30.54863062],
       [31.95496034],
       [30.2265104 ],
       [35.23115861],
       [36.5746356 ],
       [34.75976318],
       [32.30065032],
       [35.4118602 ],
       [37.57242261],
       [31.87639443],
       [35.91468199],
       [31.93139056],
       [35.80468973],
       [28.1445139 ],
       [29.01659545],
       [30.17937086],
       [28.02666504],
       [28.04237822],
       [29.97509951],
       [35.72612382],
       [31.11430514],
       [35.05045703],
       [28.4744907 ],
       [32.6541969 ],
       [33.87982503],
       [35.55327883],
       [33.96624753],
       [37.28958535],
       [32.52849145],
       [32.93703416],
       [31.21644082],
       [28.80446751],
       [36.61391856],
       [29.61369634],
       [32.05709601],
       [29.11873113],
       [37.19530626],
       [30.14008791],
       [34.571205  ],
       [28.34878525],
       [35.64755791],
       [36.59034879],
       [28.68661865],
       [36.51963947],
       [32.44206895],
       [31.42856877],
       [34.17837547],
       [30.61148334],
       [37.00674809],
       [37.60384897],
       [30.25008018],
       [28.6394791 ],
       [35.41971679],
       [35.63184473],
       [33.14130551],
       [32.39492941],
       [31.13787491],
       [29.30728931],
       [33.1570187 ],
       [35.45114315],
       [33.42414278],
       [37.11674036],
       [35.71826723],
       [32.75633258],
       [37.2424458 ],
       [36.77105037],
       [31.75068898],
       [35.60827496],
       [29.88082042],
       [34.28836774],
       [28.2230798 ],
       [33.91125139],
       [31.8999642 ],
       [28.23879298],
       [28.65519229],
       [34.43764296],
       [32.71704962],
       [30.13223132],
       [37.05388763],
       [30.04580882],
       [33.76197617],
       [30.78432834],
       [32.46563872],
       [33.03131325],
       [33.08630938],
       [36.83390309],
       [30.06937859],
       [35.98539131],
       [30.48577789],
       [37.62741874],
       [33.41628619],
       [31.12216173],
       [32.08066578],
       [33.60484436],
       [34.64977091],
       [30.33650267],
       [29.44085135],
       [34.17051888],
       [29.13444431],
       [30.03795223],
       [32.27708055],
       [32.12780533],
       [30.37578563],
       [33.06273961],
       [36.26822857],
       [31.24001059],
       [33.43985596],
       [34.91689499],
       [29.44870794],
       [33.54199164],
       [34.05267002],
       [32.3163635 ],
       [32.63062713],
       [33.4869955 ],
       [27.87738982],
       [28.95374273],
       [35.13687953],
       [35.77326336],
       [33.86411185],
       [36.69248446],
       [37.26601558],
       [32.37135964],
       [33.80125912],
       [30.51720426],
       [30.07723518],
       [34.09980957],
       [34.9090384 ],
       [33.34557687],
       [30.80004152],
       [29.52727384],
       [35.12116634],
       [33.58127459],
       [28.85946364],
       [29.68440565],
       [32.0649526 ],
       [31.57784399],
       [30.66647948],
       [33.80911572],
       [34.4062166 ],
       [32.4892085 ],
       [29.04016522],
       [28.89874659],
       [31.70354944],
       [35.37257724],
       [30.9807431 ],
       [37.4152908 ],
       [36.36250766],
       [35.53756565],
       [31.93924715],
       [28.3095023 ],
       [30.86289424],
       [33.78554594],
       [30.50149108],
       [35.35686406],
       [37.56456602],
       [35.73398041],
       [28.55305661],
       [29.24443658],
       [30.10866155],
       [29.73940179],
       [29.07944818],
       [35.20758884],
       [36.95960854],
       [29.53513043],
       [32.36350305],
       [28.05023481],
       [29.02445204],
       [32.11209215],
       [30.92574697],
       [29.70797543],
       [34.35122047]])

In [30]:
mse=metrics.mean_squared_error(y_test,y_pred)
print('MSE:',mse)

MSE: 32.15349491630418

In [31]:
r2=metrics.r2_score(y_test,y_pred)
print('R2 Score:',r2)

R2 Score: 0.19306309323404092

In [33]:
y_pred.shape

(252, 1)