In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('BAC.csv')
df['Date'] = pd.to_datetime(df['Date'])
#df.set_index('Date', inplace=True)

In [3]:
df.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2018-07-02  28.080000  28.280001  27.830000  28.280001  25.186296  52534300
1 2018-07-03  28.330000  28.430000  27.740000  27.780001  24.740997  40599000
2 2018-07-05  27.950001  28.080000  27.809999  27.920000  24.865677  44506800
3 2018-07-06  27.809999  28.150000  27.629999  28.030001  24.963646  39424900
4 2018-07-09  28.230000  29.090000  28.219999  29.049999  25.872059  61758900

In [4]:
df.info

<bound method DataFrame.info of            Date       Open       High        Low      Close  Adj Close  \
0    2018-07-02  28.080000  28.280001  27.830000  28.280001  25.186296
1    2018-07-03  28.330000  28.430000  27.740000  27.780001  24.740997
2    2018-07-05  27.950001  28.080000  27.809999  27.920000  24.865677
3    2018-07-06  27.809999  28.150000  27.629999  28.030001  24.963646
4    2018-07-09  28.230000  29.090000  28.219999  29.049999  25.872059
...         ...        ...        ...        ...        ...        ...
1253 2023-06-26  27.799999  28.280001  27.790001  28.090000  28.090000
1254 2023-06-27  28.100000  28.400000  27.950001  28.240000  28.240000
1255 2023-06-28  28.250000  28.270000  27.900000  28.070000  28.070000
1256 2023-06-29  28.500000  29.000000  28.400000  28.660000  28.660000
1257 2023-06-30  28.940001  29.110001  28.670000  28.690001  28.690001

        Volume
0     52534300
1     40599000
2     44506800
3     39424900
4     61758900
...        ...
1253  47519300
1254  39081800
1255  37803800
1256  68376400
1257  50370700

[1258 rows x 7 columns]>

In [5]:
df.drop_duplicates(inplace=True)

In [6]:
print(df.duplicated().sum())

0

In [7]:
df.fillna(method='ffill',inplace=True)

In [8]:
df=df[['Date','Close']]

In [9]:
df

           Date      Close
0    2018-07-02  28.280001
1    2018-07-03  27.780001
2    2018-07-05  27.920000
3    2018-07-06  28.030001
4    2018-07-09  29.049999
...         ...        ...
1253 2023-06-26  28.090000
1254 2023-06-27  28.240000
1255 2023-06-28  28.070000
1256 2023-06-29  28.660000
1257 2023-06-30  28.690001

[1258 rows x 2 columns]

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [11]:
import numpy as np

In [12]:
from sklearn.ensemble import RandomForestRegressor

In [13]:
#n=int(len(df)*0.8)
#train=df[:n]
#test=df[n:]

In [14]:
#train
feature=df[['Date']]
target=df[['Close']]

In [15]:
#test

In [16]:
#X=train[['Date']]
#y=train.Close
#X_test=test[['Date']]
#y_test=test.Close

In [17]:
X,X_test,y,y_test=train_test_split(feature,target,test_size=0.2,random_state=42)

In [18]:
X

           Date
1200 2023-04-10
199  2019-04-17
1124 2022-12-16
1158 2023-02-07
381  2020-01-07
...         ...
1044 2022-08-24
1095 2022-11-04
1130 2022-12-27
860  2021-11-30
1126 2022-12-20

[1006 rows x 1 columns]

In [19]:
y

          Close
1200  27.940001
199   30.030001
1124  31.700001
1158  36.770000
381   34.619999
...         ...
1044  34.520000
1095  36.790001
1130  32.529999
860   44.470001
1126  32.189999

[1006 rows x 1 columns]

In [20]:
forest_regressor=RandomForestRegressor(n_estimators=100, random_state=42)
forest_regressor.fit(X,y)

C:\Users\dvard\AppData\Local\Temp\ipykernel_28156\2450556744.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  forest_regressor.fit(X,y)

RandomForestRegressor(random_state=42)

In [21]:
prediction=forest_regressor.predict(X_test)

In [22]:
prediction

array([23.55320021, 27.34959962, 30.46270027, 29.64729979, 31.55499975,
       22.80520008, 41.86290076, 34.37809987, 33.63320058, 36.50299933,
       25.58689973, 33.62980012, 29.95990073, 25.34560074, 32.91389947,
       33.35839877, 34.24130096, 37.39679978, 33.19930061, 34.53810109,
       35.39010149, 29.81519936, 28.61080063, 39.8848001 , 34.81519957,
       42.20959896, 25.06890083, 29.0855003 , 35.29790123, 31.08919967,
       34.00610032, 30.25760004, 33.71969877, 45.61550115, 20.9645001 ,
       25.26320042, 29.36999992, 28.03819996, 22.90209997, 29.11869997,
       27.9021006 , 30.22189923, 41.91430021, 24.15420038, 43.09050124,
       46.70569995, 30.46789999, 31.24540051, 25.18319992, 47.55420093,
       23.26170024, 29.23670004, 44.23100152, 44.61599939, 27.65710029,
       28.33980023, 30.61369998, 29.33179934, 28.20120031, 35.27910015,
       25.21040006, 29.75610009, 21.5792002 , 26.33540034, 30.55759988,
       35.58270138, 32.47690005, 26.99450021, 34.69010039, 30.6787001 ,
       49.04519915, 28.61550012, 35.29719888, 37.41050091, 24.14919943,
       37.38499901, 40.88199911, 24.16369955, 21.5306002 , 29.19900085,
       31.90310013, 32.90689975, 26.21769935, 29.3116998 , 40.03089939,
       33.21150004, 48.50720024, 25.09799973, 37.70670046, 29.20260084,
       24.45120038, 34.18170121, 24.97299973, 33.3097991 , 31.08690005,
       28.74980089, 29.96000059, 30.94220088, 30.84370079, 28.22989977,
       31.67210024, 27.28430027, 42.55030125, 27.56369979, 28.67359919,
       38.183201  , 36.52439851, 42.01400155, 30.02839958, 27.00119962,
       32.10610009, 22.0033996 , 24.79019903, 31.85470023, 26.97110011,
       26.06229975, 28.90330022, 27.95579984, 29.43699974, 43.97659985,
       28.88200047, 32.43619919, 32.67309944, 24.5784    , 37.23299957,
       24.5117009 , 22.93609988, 41.62209916, 33.33260048, 34.09779944,
       29.19640096, 29.10759944, 27.4337001 , 35.74309872, 32.01249923,
       37.90070011, 23.7959998 , 22.11930016, 28.97289944, 38.2742996 ,
       35.21589995, 41.79620006, 28.26359977, 31.65300026, 31.04650042,
       28.61479921, 34.3822008 , 23.42690043, 31.84509893, 30.3391    ,
       43.73539908, 30.8077003 , 38.71229944, 24.69450015, 30.89800029,
       25.63230001, 47.03810078, 29.89899907, 28.16149993, 31.15320068,
       27.13530071, 39.90770011, 34.73189954, 27.51650001, 35.59500017,
       36.5217997 , 34.98029963, 26.83659979, 34.69199995, 33.04330033,
       28.09210009, 41.29020005, 22.87820007, 25.84169927, 42.5782004 ,
       43.91229964, 29.70939999, 30.62019989, 39.88900044, 28.82030012,
       27.17210025, 24.71030026, 25.27649939, 31.2052007 , 35.99730012,
       30.37100027, 21.0148    , 41.52410001, 47.00709898, 30.5631997 ,
       42.35549902, 41.64969991, 24.05070067, 28.97020024, 42.48110154,
       29.83630036, 28.66539922, 42.76110084, 31.25260007, 38.144101  ,
       32.85099964, 30.26069914, 24.66939983, 39.08220085, 32.93560009,
       27.03439998, 41.01139997, 46.98339899, 38.8552006 , 34.72299929,
       28.53980021, 41.68810047, 43.13599957, 27.20310088, 28.44850072,
       26.18229935, 25.1662001 , 34.15379902, 38.41620067, 47.95799846,
       27.1764    , 29.32820031, 29.17339995, 24.1568997 , 36.70800086,
       34.75889889, 27.42259945, 35.77209943, 36.58659839, 25.06549968,
       29.84409997, 34.2394004 , 39.93510086, 32.93110057, 36.64970098,
       29.27590003, 31.64910041, 27.39609933, 27.32589982, 27.4978    ,
       27.95179975, 29.31190017, 43.08369939, 35.36389991, 28.50370052,
       24.35019941, 30.78530037, 28.92620089, 25.74539988, 33.3220996 ,
       28.33540027, 46.90290118])

In [23]:
mse=metrics.mean_squared_error(y_test,prediction)
print('MSE:',mse)

MSE: 0.28951737906198266

In [24]:
r2=metrics.r2_score(y_test,prediction)
print('R2 Score:',r2)

R2 Score: 0.9927341566158396